# Core dependencies
python-dotenv
requests
numpy~=1.26.4
soundfile
librosa
pydub
ffmpeg-python

# Audio Processing and Transcription
whisperx
faster-whisper
openai-whisper

# Speaker Diarization
pyannote.audio

# ONNX Runtime for GPU acceleration
onnxruntime-gpu

# Data Processing
intervaltree

# Utils and Logging
rich
pytest
huggingface-hub
omegaconf
audioread
typing-extensions

# UI
streamlit